.single-property.clearfix
  = image_tag property.picture_thumb, class: 'thumbnail'
  .property-info
    %h2= property.name
    %p= property.address
    %p= property.city_state_zip

  / If building manager
  = link_to "Manage", employee_property_path(current_employee, property), class: 'primary-button right'