%section.my-properties
  %h2 My Properties
  .all-properties-wrapper
    = render partial: 'property', collection: current_employee.properties, locals: { user: current_employee }

%section.my-payment
  %h2 My Deposit Method
  .payment-information
    %p 
      Mastercard &ndash;3335
    = link_to "edit", '#', class: 'action-link right'

%section.my-tipping
  - if current_employee.tips.any?
    %h2 Tips received
    %table.dashboard-table.employee-table
      %thead
        %tr
          %th Date
          %th From
          %th.message Message
          %th Amount
        %tbody
          - current_employee.tips.each do |tip|
            %tr
              %td 
                = transaction_date(tip)
              %td 
                = tip.signature
              %td.message
                = tip.message
              %td
                = number_to_currency(tip.amount, precision: 0)
