= image_tag property.picture_thumb
.property-info
  %h5= property.name
  %p= property.address
  %p= "#{property.city}, #{property.state}"
  = p.input :property_id, as: :hidden, input_html: { value: property.id }
  = p.input :unit, placeholder: "Unit #"
= link_to "remove", '#', class: 'js-remove-building'