.single-property.clearfix
  = image_tag property.picture_thumb
  .property-info
    %h2= property.name
    %p= property.address
    %p= property.city_state_zip
  = link_to "remove", '#', class: 'action-link js-remove-building'

  = link_to "Give Tips", new_property_user_transaction_path(property, user), class: 'primary-button right'