.small-centering-wrapper.clearfix
  %h1
    Account Settings
  = simple_form_for @user, html: { multipart: true } do |f|
    = f.input_field :first_name, placeholder: 'First Name', class: 'half-input'
    = f.input_field :last_name, placeholder: 'Last Name', class: 'half-input'
    = f.input_field :signature, placeholder: 'Display Name', class: 'full-input'
    = f.input_field :email, placeholder: 'Email', class: 'full-input'
    = f.input_field :password, placeholder: 'Password', class: 'full-input'
    = f.input_field :password_confirmation, placeholder: 'Password Confirmation', class: 'full-input'
    = f.label :avatar, "Change Profile Picture"
    .js-pretty-input
      Choose File
    = f.input_field :avatar, as: :file
    = f.submit "Save & Update"