%section.my-properties
  %h2 My Properties
  .all-properties-wrapper
    .all-properties
      = render partial: 'property', collection: current_user.property_relations, locals: { user: current_user }
    .add-building-wrapper.clearfix
      = link_to '#', class: 'js-add-building' do
        %span.circle-wrap
          &#43;
        add a building
      #js-building-search
        = text_field_tag :query, nil, data: { autocomplete_source: properties_path }, id: 'js-property-search-user-show', placeholder: '555 Anywhere St, SomewheresVille, OK', class: 'full-input'
        #js-property-listings

      .building-in-progress#js-add-property
        = simple_form_for current_user, remote: true, html: { style: 'display: none;' } do |f|
          = f.simple_fields_for :property_relations, current_user.property_relations.build do |pr|
            %img
            .property-info
              %h5.building_name
              %p.address
            = pr.input :property_id, as: :hidden
            = pr.input :unit, placeholder: "Unit #"

          = link_to "cancel", '#', class: 'js-remove-building secondary-button'
          = f.submit "Add Building"


%section.my-payment
  %h2 My Payment Method
  .payment-information
    - current_user.payment_methods.each do |method|
      %p 
        = method.card_type
        &ndash;
        = method.last_four
      = link_to "edit", user_edit_payment_method_path(current_user), class: 'action-link right'

%section.my-tipping
  %h2 My Tipping History
  - if current_user.transactions.empty?
    %p You haven&apos;t given out tips yet! Spread the cheer and tip your building today!
  - else
    %table.dashboard-table
      %thead
        %tr
          %th Date
          %th Property
          %th Total
          %th
        %tbody
          = render partial: 'transaction', collection: @transactions, locals: { user: current_user }
    = will_paginate @transactions
