%footer.clearfix
  .company-info
    %p.footer-logo SmartyTip
    %p.footer-info
      Here’s a blurb about stuff that we do. We’re the best company for this stuff. You should trust us.

    %p.copyright
      Copyright 2014 &copy; SmartyTip

  .footer-links
    %ul.help
      %h5 Help
      %li
        = link_to "FAQ", faq_path
      %li
        = link_to "Contact", contact_path

    / %ul.connect
    /   %h5 Connect
    /   %li
    /     = link_to "Careers", '#'
    /   %li
    /     = link_to "Blog", '#'
    /   %li
    /     = link_to "Partnerships", '#'

    %ul.connect
      %h5 Company
      %li
        = link_to "About", about_path
      %li
        = link_to "Terms", tos_path
      %li
        = link_to "Privacy", privacy_path
