= render 'property', property: @property

= render 'suggested_tips', property: @property

%section.my-employees
  %h2 Manage Employees
  .all-employees-wrapper{ data: { current_employee: current_employee.id} }
    = render partial: 'property_employee', collection: @property_employees

%section.my-payment
  %h2 Pending Invitations
  .invitation-table-wrapper
    %table.small-table
      - if current_employee.sent_invitations.any?
        = render partial: 'invitation', collection: current_employee.sent_invitations
      - else
        %p You have no pending invitations.

%section.small-column
  %h2 Invite Employees
  .invitation-table-wrapper.clearfix
    = simple_form_for [current_employee, @property, @invitation], remote: true do |f|
      = f.input_field :recipient_email, placeholder: "Employee Email Address", class: 'full-input'
      .styled-select.full-input
        = f.input_field :position, collection: PropertyEmployee::TITLES, prompt: "Employee Title"
      = f.submit "Send Invitation"
