%h1 Invite Employees

= simple_form_for [@property, current_employee, @invitation], remote: true do |f|
  = f.input :recipient_email, label: "Employee Email Address"
  = f.input :position, collection: titles
  = f.submit "Send Invitation"

#sent-invitations
  - if @invitations.any?
    %h2 Sent invitations

%ul.js-sent-invites-list
  - if @invitations.any?
    = render @invitations

= link_to "Next Step", property_employee_setup_payment_path(@property, current_employee)