.small-centering-wrapper
  %h1 Invite Employees
  %p
    Get all of the workers in your building started with SmartyTip. Enter in their email and job title and an invitation will be sent to their inbox.

  = simple_form_for [@property, current_employee, @invitation], remote: true do |f|
    = f.input_field :recipient_email, placeholder: "Employee Email Address", class: 'full-input'
    .styled-select.full-input
      = f.input_field :position, collection: PropertyEmployee::TITLES, prompt: "Employee Title"
    = f.submit "Send Invitation"

  #sent-invitations
    - if @invitations.any?
      %h2 Sent invitations

  %ul.js-sent-invites-list
    - if @invitations.any?
      = render @invitations

  = link_to "Next Step", property_employee_setup_payment_path(@property, current_employee), class: "primary-button"