<% if @invitation.valid? %>
  // Invite Data
  var recipientEmail = "<li><%= @invitation.recipient_email %></li>";
  var createdAt = "<li> <%= @invitation.created_at.strftime("%m/%d/%Y") %></li>";
  var propertyName= "<li> <%= @invitation.property_name %></li>";
  var propertyAddress= "<li> <%= @invitation.property_address %></li>";
  var propertyCityState= "<li><%= @invitation.property_city %> <%= @invitation.property_state %></li>";
  var deleteLink = "<a class='delete-link' data-confirm='Are you sure you want to delete this invitation?'' data-method='delete' href='/admin/invitations/<%= @invitation.id %>' rel='nofollow'>x</a>"

  // DOM elements
  var table = '<table class="dashboard-table js-invitations-table"><thead><tr><th>Date</th><th>Property</th><th>Manager Email</th><th>Delete</th><tr></thead><tbody></tbody></table>'
  var row = '<tr><td>' + createdAt + '</td><td>'+ propertyName + propertyAddress + propertyCityState + '<td>' + recipientEmail + '</td><td>' + deleteLink + '</td></tr>';


  // If table exists, just append another row
  // Else create the table and append the row
  if ($('.js-invitations-table')[0]) {
    $('.js-invitations-table').append(row);
  } else {
    $('.js-sent-invites-list').append(table);
    $('.js-invitations-table').append(row);
  }
  // Clear form
  $('#new_invitation')[0].reset();
<% end %>

$('#flash').html("<%= escape_javascript(render 'shared/flash_messages', flash: flash).html_safe %>");