.small-centering-wrapper
  %h1 Invite property managers

  = simple_form_for [:admin, @invitation], remote: true do |f|
    = f.input_field :recipient_email, class: 'full-input', placeholder: "Property Manager Email"

    = f.input_field :property_name, class: 'full-input', placeholder: "Property Name(Optional)"
    = f.input_field :property_address, class: 'full-input', placeholder: "Address"

    = f.input_field :property_city, class: 'third-input', placeholder: "City"
    .styled-select.third-input
      = f.input_field :property_state, collection: us_states, prompt: "State"

    = f.input_field :property_zip, class: 'third-input', placeholder: "Zip"
    = f.submit "Send Invitation"

  #sent-invitations
    - if @invitations.any?
      %h2 Sent invitations
    - else
      %h2

    %ul.js-sent-invites-list
      - if @invitations.any?
        = render @invitations
