.medium-centering-wrapper
  %h1 Invite property managers
  %p
    Get more buildings onto SmartyTip! Input a property manager&apos;s email address and the information of the property they manage to send them an invitation. The more building managers you invite, the more people can use SmartyTip! 

  = simple_form_for [:admin, @invitation], remote: true do |f|
    = f.input :recipient_email, label: "Manager Email", placeholder: "Property Manager Email", input_html: { class: 'full-input' }

    = f.input :property_id, as: :hidden

    = text_field_tag :query, params[:query], data: { autocomplete_source: properties_path }, id: 'admin_property_search', placeholder: '555 Anywhere St., Somewheresville, OK', class: 'admin-property-search full-input'
    .third-spacer

    = f.submit "Send Invitation"

  #sent-invitations
    - if @invitations.any?
      %h2 Sent invitations
    - else
      %h2

    %ul.js-sent-invites-list
      - if @invitations.any?
        %table.dashboard-table.js-invitations-table
          %thead
            %tr
              %th Date
              %th Property
              %th Manager Email
              %th Delete
            %tbody
              = render @invitations
