.small-centering-wrapper
  %h1 Get Started

  = simple_form_for [@property, @employee], html: { multipart: true } do |f|
    = f.simple_fields_for :positions do |p|
      = p.input :property_id, as: :hidden, input_html: { value: @property.id }
      = p.simple_fields_for :title do |t|
        = t.input :title, as: :hidden, input_html: { value: @employee.invitation_position }
    = f.input_field :invitation_token, as: :hidden, input_html: { value: @employee.invitation_token }
    = f.input_field :first_name, placeholder: "First Name", class: "half-input"
    = f.input_field :last_name, placeholder: "Last Name", class: "half-input"
    = f.input_field :nickname, placeholder: "Nickname", class: "full-input"
    = f.input_field :email, placeholder: "Email", class: "full-input"
    = f.input_field :password, placeholder: "Password", class: "full-input"
    = f.input_field :password_confirmation, placeholder: "Password Confirmation", class: "full-input"

    = f.label :avatar, "Upload a photo of yourself"
    .js-pretty-input
      Choose a file
    = f.input_field :avatar, as: :file
    = f.submit "Create Account"