%h1 Get Started

= simple_form_for [@property, @employee], html: { multipart: true } do |f|
  = f.simple_fields_for :positions do |p|
    = p.input :property_id, as: :hidden, input_html: { value: @property.id }
    = p.simple_fields_for :title do |t|
      = t.input :title, as: :hidden, input_html: { value: @employee.invitation_position }
  = f.input :invitation_token, as: :hidden, input_html: { value: @employee.invitation_token }
  = f.input :first_name
  = f.input :last_name
  = f.input :nickname
  = f.input :email
  = f.input :password
  = f.input :password_confirmation
  = f.input :avatar, as: :file, label: 'Upload a photo of yourself'
  = f.submit "Create Account"