!!! 5
%html
  %head
    %title
      Tipster Admin
    = stylesheet_link_tag    'application', media: 'all'
    = javascript_include_tag 'application'
    = csrf_meta_tags
    %meta{ name: "viewport", content: "width=device-width, initial-scale=1.0, initial-scale=1, maximum-scale=1" }
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700,300' rel='stylesheet' type='text/css'>
    
  %body    
    .admin-wrapper
      - if admin_signed_in?
        %nav.clearfix
          .nav-links
            = link_to "Log Out", admin_log_out_path, class: 'primary-button'
            = link_to "Invite a property", new_admin_invitation_path, class: 'text-nav-link'

      - else
        %nav
      = render partial: 'shared/flash_messages'
      = yield 