!!! 5
%html
  %head
    %title
      Tipster
    
    = stylesheet_link_tag    'application', media: 'all'
    = javascript_include_tag 'application'
    = csrf_meta_tags
    %meta{ name: "viewport", content: "width=device-width, initial-scale=1.0, initial-scale=1, maximum-scale=1" }
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700,300' rel='stylesheet' type='text/css'>

  %body
    .page-wrapper.clearfix
      = render partial: 'shared/nav'
      = render partial: 'shared/flash_messages'
      = yield 
    = render partial: 'shared/footer'